@model  IEnumerable<string>
@{
    ViewBag.Title = "ListAllLotNames";
    <h2>@ViewBag.result</h2>
}
<ol type="1">
    @foreach (var iter in Model)
    {      
        <li>
            <a href="GetLot?name=@iter">@iter</a>
            <br />
            @using (Html.BeginForm())
            {
                <input type="hidden" value="@iter" />
                <br /> 
            }
</li>      
    }
 </ol>
<form action="CreateLot">
    <input type="submit" value="Add" class="btn btn-default" />
</form>
